.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}




body {
  background-color:#2f2fa2;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4F6D7A;
}

p {
  font-size: 2rem;
  color: #DD6E42;
  font-family: 'Indie Flower', cursive;
}

img {
  margin-top: 30px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 10px 10px #111042;
}

footer {
  margin-top: 10%;
  color: black;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.blu-btn{
  color: white;
  background-color: #232931;
  border-radius:10px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: large;
  
  margin-top: 5%;
  box-shadow: 1px 2px #dfd4d4;
}
 .btn-roll{
   text-align: center;
 }

 @media (max-width: 700px) { 
  body {
    background-color: #2f2fa2;
  }
  h1 {
    font-family: 'Lobster', cursive;
    text-shadow: 1px 0 #232931;
    font-size: 35px;
    color: #4F6D7A;
    margin: 2px 2px;
  }
  
  p {
    font-size: 20px;
    color: #DD6E42;
    font-family: 'Indie Flower', cursive;
    margin: 5px 2px;
  }
  img {
    width: 30%;
    border-radius: 10px;
    box-shadow: 1px 2px #161616;
    
  }
  .blu-btn{
    color: white;
    background-color: #232931;
    border-radius:5px;
    padding: 4px 40px;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 10px;
    box-shadow: 1px 2px #161616;
  }
  .btn-roll{
    margin-top: 60px;
    text-align: center;
  }
  footer {
    
    color: black;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    margin-top: 60px;
    
  }
  .container {
    width: 100%;
    margin: auto;
    text-align: center;
  }
}